{% if user.is_authenticated %}
    <h1>ITEMS IN YOUR CART</h1>
    <div class = "row">
        {% for product in products %}
        {% if product.inCart %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {%endfor%}
    </div>
    <button><a href="{% url 'cont' %}">Continue Shopping</a></button>
{% else %}
    You don't seem to have an account
    <a href="{% url 'register' %}"><button class="btn btn-outline-success" type="button">Create an account</button></a><br>
    Already a member?
    <a href="{% url 'login' %}"><button class="btn btn-outline-success" type="button">Login to your account</button></a>
{%endif%}