{% extends 'base.html' %}
{% block user %}
  {% if request.user.is_authenticated %}
    <h3>Hi {{request.user.first_name}}</h3>
  {% endif %}
{% endblock %}

{% block content %}
    <br><h1>Products</h1><br>

    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">${{ product.price }}</p>
                  <form action="add" method = 'POST'>
                    {% csrf_token %}
                    <input type="text"  name=productid value = {{product.id}} hidden>
                  <!-- <a href="{% url 'add' %}" class="btn btn-primary">Add to cart</a> -->
                  <button type = "submit" class = "btn btn-primary">Add to cart</button>
                </form> 
                </div>
              </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}